<h1>Show Employees</h1>
​
<div *ngFor="let data of data; let i = index">
    <ul>
        <li>{{ data.id }}</li>
        <li>{{ data.employeeFirstName }}</li>
        <li>{{ data.employeeLastname }}</li>
        <li>{{ data.employeeAddress }}</li>
        <li>{{ data.employeeDOB}}</li>
    </ul>
    <button mat-raised-button color="primary" (click)="toggle()">Update</button>

    <button mat-raised-button color="warn" (click)="delete(data.id)">Delete Employee</button>


​
    <form [formGroup] = "updateForm" *ngIf="show && i == i ">
        <label for="employeeFirstName">Employee First Name:</label>
        <input type="text" formControlName = "employeeFirstName" id="employeeFirstName" [(ngModel)] = "employeeFirstNameDisplay">
        <div *ngIf="employeeFirstName.invalid && (employeeFirstName.dirty || employeeFirstName.touched)" class="alert alert-danger">First name is Required with at least 1 characters</div>
    
        <label for="employeeLastname">Employee Last Name</label>
        <input [(ngModel)] = "employeeLastnameDisplay" type="text" formControlName = "employeeLastname" id="employeeLastname">
        <div *ngIf="employeeLastname.invalid && (employeeLastname.dirty || employeeLastname.touched)" class="alert alert-danger">Last Name is Required  with at least 1 characters</div>
    
        <label for="employeeAddress">Employee Address</label>
        <input type="text" formControlName = "employeeAddress" id="employeeAddress" [(ngModel)] = "employeeAddressDisplay">
        <div *ngIf="employeeAddress.invalid && (employeeAddress.dirty || employeeAddress.touched)" class="alert alert-danger">Phone number is Required with at least 14 characters</div>

        <label for="employeeDOB">Employee Date of Birth</label>
        <input type="text" formControlName = "employeeDOB" id="employeeDOB" [(ngModel)] = "employeeDOBDisplay">
        <div *ngIf="employeeDOB.invalid && (employeeDOB.dirty || employeeDOB.touched)" class="alert alert-danger">Phone number is Required with at least 14 characters</div>
    
        <button type="button" (click)="onSubmit(data.id,employeeFirstNameValue,employeeLastnameValue,employeeAddressValue, employeeDOBValue)" id="submitButton">Submit Button</button>
    </form>
    </div>
    
    <div>
        <p id="employeeFirstNameDisplay">{{ employeeFirstNameDisplay }}</p>
        <p id="employeeLastnameDisplay">{{ employeeLastnameDisplay }}</p>
        <p id="employeeAddressDisplay">{{ employeeAddressDisplay }}</p>
        <p id="employeeDOBDisplay">{{ employeeDOBDisplay }}</p>
    </div>
